h1{
    color: white;
    margin-left: 15px;
}

p{
    color: white;
    margin-left: 15px;
}

.Logo{
    width: 130px;
    right: 130px;
}

.tabelas{
    display: flex;
    margin : 0 100px;
    padding-bottom: 300px;
}


.Titulo{
    display: flex;
    align-items: center;
    font-size: xx-large;
    padding-bottom: 50px;

}

.Titulo h1{
    padding: 0px;
}

